test-api/mule-test-api/src/main/mule/mule-test-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/mule-http.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7e1424d4-6650-47ff-a3e2-6ab445ee9d08" basePath="api" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<api-gateway:autodiscovery apiId="20563406" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="46598d45-634a-461c-b942-8f79ed7825bb" flowRef="mule-test-apiFlow" />
	<flow name="mule-test-apiFlow" doc:id="f0db44ab-8103-4d2b-9f51-4292659c6acc" >
		<http:listener doc:name="Listener" doc:id="399b3690-a755-4dfc-b614-6294cae18d91" config-ref="HTTP_Listener_config" path="hello" allowedMethods="GET"/>
		<set-payload value='#["Hello Boba"]' doc:name="Set Payload" doc:id="82011de6-e1a3-4a50-8ad7-9559f77cbe6a" />
	</flow>
</mule>
