test-api/src/main/mule/test-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="44d60429-b19e-409a-866e-18c17547adcc" basePath="test" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test-apiFlow" doc:id="e1d6ebc7-2de6-401f-b1ec-1f9031c53aea" >
		<http:listener doc:name="Listener" doc:id="b109b7ba-d6ac-4010-8b76-c7f518f7c1d5" config-ref="HTTP_Listener_config" path="/success"/>
		<set-payload value='#["SUCCESS"]' doc:name="Set Payload" doc:id="9cda6b59-9b6c-4b1e-85d4-a93349155e6e" />
	</flow>
</mule>
