hea-okta-sapi/src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="hea-okta-sapi-main">
        <http:listener config-ref="httpListenerConfig" path="/api/${api.majorVersion}/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="heaOktaSapiConfig" />
        <error-handler ref="global-error-handler" />
    </flow>
    <flow name="get:\health:heaOktaSapiConfig" doc:id="a35bd897-f2cc-4fad-8bdb-3e08565daeaa">
        <flow-ref doc:name="health-check-sub-flow" doc:id="881f93a5-285a-4d96-9fb4-0caa8dc2c06e" name="health-check-sub-flow" />
    </flow>
    <flow name="get:\authorize:heaOktaSapiConfig">
        <set-variable value='#[%dw 2.0&#10;output application/json&#10;var validQueryParams = [ "clientId", "responseType", "connectionName", "redirectUri", "scope", "state"]&#10;---&#10;attributes.queryParams pluck ((value, key, index) -&gt; key ) -- validQueryParams]' doc:name="invalidQueryParams" doc:id="a4a57b96-e44a-4245-9012-44b5a81ccc41" variableName="invalidQueryParams"/>
		<choice doc:name="Check queryParams" doc:id="05570d41-6dbe-457d-8c85-b21905d8a118">
            <when expression="#[(sizeOf(vars.invalidQueryParams)) &gt; 0]">
                <logger level="INFO" doc:name="INFO: Invalid queryParams" doc:id="cbd29414-2077-409b-a7ae-6edc1912cc68" message="Invalid query parameters." category="${logger.category}.get:\authorize:heaOktaSapiConfig" />
                <set-payload value="#[%dw 2.0&#xA;output application/java&#xA;---&#xA;if (sizeOf(vars.invalidQueryParams) &gt; 0)&#xA; {&#xA;  &quot;message&quot;: &quot;Invalid query parameters: &quot; ++ (vars.invalidQueryParams joinBy(',')) as String&#xA; }&#xA;else&#xA; {&#xA;  &quot;message&quot;: &quot;&quot;&#xA; }]" doc:name="Error Message" doc:id="31dd0c5c-5644-4189-808a-d9f247cf5ca6" />
                <raise-error doc:name="HEA_OKTA_SAPI:INVALID_FIELDS" doc:id="59ef3210-de74-42d8-a301-786054d5a858" type="HEA_OKTA_SAPI:INVALID_FIELDS" description="#[payload.message]" />
            </when>
            <otherwise>
                <logger level="INFO" doc:name="INFO: Default" doc:id="1c6236d1-64ca-4228-9765-aeb4e77adb62" message="Valid query parameters passed." category="${logger.category}.get:\authorize:heaOktaSapiConfig" />
                <flow-ref doc:name="get-authorize-sub-flow" doc:id="f95efaba-b6fe-486b-a33c-b2ac03116705" name="get-authorize-sub-flow" />
            </otherwise>
        </choice>
    </flow>
    <flow name="post:\change-password:application\json:heaOktaSapiConfig">
        <flow-ref doc:name="post-change-password-sub-flow" doc:id="c1075f61-7e85-4bcf-8a95-51be0eb4bfd1" name="post-change-password-sub-flow" />
    </flow>
    <flow name="post:\signup:application\json:heaOktaSapiConfig">
        <flow-ref doc:name="post-signup-sub-flow" doc:id="3b86980d-be60-4e43-8cd1-8453913e4bcd" name="post-signup-sub-flow" />
    </flow>
</mule>
